@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --primari-color: #FF0000;
    --secondary-color: #fff;
    --first-font-family:'Merriweather', serif;

}

body {
    /* font-family: 'Merriweather', serif; */
    font-family: 'Inter', sans-serif;
}

.container{
    width: 1200px;
    margin: 20px auto;
}

.banner_bg{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(
      180deg,
      rgb(9, 9, 9) 3.482%,
      rgba(16, 16, 16, 0) 101.632%
    ),
    url(../images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner_sub_title{
    font-size: 32px;
    font-weight: 200;
}

.banner_title{
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    margin-top: 16px;
    font-family: var(--first-font-family);
}

/* banner tow style */
.banner_bg_Tow{
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.banner_tow{
    text-align: center;
    margin-top: 100px;
}

.banner_heading{
    font-size: 88px;
    font-weight: 700;
    color: var(--primari-color);
}

.banner_tow_sub_title{
    font-size: 24px;
    font-weight: 500;
    color: var(--primari-color);
    margin-top: 48px;
    margin-bottom: 16px;
}

.bannee_tow_title{
    font-size: 48px;
    margin-bottom: 48px;
}
.happy_bg{
    background-image: url(../images/New\ Year\ Photo.png);
    width: 100%;
    height: 500px;
}

/* banner three style */
.banner_three{
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: var(--secondary-color);
    margin-top: 100px;
    padding: 120px 0 0 65px;
    display: flex;
    gap: 40px;
}

.banner_three_title{
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11px;
    margin-bottom: 24px;
}

.banner_tree_description{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    line-height: 30px;
    margin-bottom: 48px;
}

.banner_three_sub_title{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner_three_right{
    margin-top: -67px;
}

/* address style */
.address{
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 120px 0;
    /* border: 2px solid saddlebrown; */
}

.address_content{
    text-align: center;
    margin-bottom: 48px;
}

.highlight_text{
    color: var(--primari-color);
}

.address_title{
    font-size: 32px;
    line-height: 56px;
    font-weight: 600;
}

.address_btn{
    padding: 10px 15px;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--secondary-color);
    background: var(--primari-color);
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
}

/* Offer section styles */

.offer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.offer_left{
    width: 393px;
    height: 255px;
}

.sub_title{
    font-size: 24px;
    font-weight: 500;
    color: var(--primari-color);
    margin-bottom: 16px;
}

.title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 22px;
}

.description{
    font-weight: 400;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}

.offer_center{
    width: 463px;
    height: 463px;
    border: 10px solid var(--primari-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside{
    width: 364px;
    height: 364px;
    background-image: url(../images/Ellipse\ 1.png);
    background-size: cover;
    background-position: center;
}


.offer_right{
    width: 276px;
    height: 170px;  
    margin-top: -65px;
}

.offer_right img{
    width: 140px;
    height: 132px;
    margin-top: 43px;
}

/* discount section */
.discount{
    height: 986px;
    /* border: 2px solid goldenrod; */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.discount_sale_content{
    text-align: center;
    width: 1068px;
    margin: 0 auto;
}
.sale_sub_title{
    font-weight: 500;
    font-size: 24px;
    color: rgb(7, 2, 17);
}

.discount_header{
    font-weight: 900;
    font-size: 72px;
    margin-top: 30px;
    margin-bottom: 28px;
    font-family: var(--first-font-family);
}

.discount_description{
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
}



.discount_container{
    width: 100%;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    position: absolute;
    bottom: 0;
}

.discount_right{
    width: 305px;
    margin-top: 77px;
}

/* gift section */
.gift{
    height: 1082px;
    /* border: 2px solid tomato; */
    margin: 120px 0;
}

.gift_sub_title{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: var(--primari-color);
    margin-bottom: 16px;
}

.gift_title{
    font-size: 48px;
    font-family: var(--first-font-family);
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 22px;
}

.gift_description{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 48px;
}

.gift_container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gift_box{
    width: 385px;
    height: 410px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
}

.gift_box:nth-child(1){
    background-image: url(../images/Rectangle\ 3.png);
}
.gift_box:nth-child(2){
    background-image: url(../images/Rectangle\ 4.png);
}
.gift_box:nth-child(3){
    background-image: url(../images/Rectangle\ 5.png);
}
.gift_box:nth-child(4){
    background-image: url(../images/Rectangle\ 6.png);
}
.gift_box:nth-child(5){
    background-image: url(../images/Rectangle\ 7.png);
}
.gift_box:nth-child(6){
    background-image: url(../images/Rectangle\ 8.png);
}

/* Subscribe section */
.subscribe{
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}

.subscribe_content{
    width: 896px;
    height: 336px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

.subscribe_image{
    width: 131px;
    height: 137px;
    background-image: url(../images/Group\ 61.png);
    margin-bottom: 46px;
}

.subscribe_title{
    font-family: var(--first-font-family);
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 22px;
}

.subscribe_description{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
}

.subscribe_mail{
    width: 648px;
    height: 72px;
    margin-top: 48px;
    border-radius: 20px;
    overflow: hidden;
}

form{
    display: flex;
}

input{
    border: none;
}

input[type="email"]{
    padding: 20px;
    width: 80%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

input[type="submit"]{
    width: 210px;
    height: 72px;
    background: var(--primari-color);
    color: var(--secondary-color);
}

/* footer styles */

footer{
    background: black;
    color: var(--secondary-color);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_left, .footer_right{
    height: 80%;
    width: 375px;
    /* border: 2px solid lawngreen; */
    position: relative;
}

.footer_title{
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
}

.footer_description{
    position: absolute;
    bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}


.footer_right .right{
    right: 0;
}

